<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../template/header', { title: 'JAB餐廳 - 會員資料' }) %>
  </head>

  <body>
    <%- include('../../template/navbar') %>

    <div class="wrapper admin__wrapper">
      <div class="title faq">
        <span class="title__mark admin"></span
        ><span class="title__text admin">會員資料</span>
      </div>

      <div class="member-detail-wrapper">
        <div class="btn__area">
          <!-- TODO: -->
          <input
            class="redirect-btn"
            type="button"
            value="回會員列表"
            onclick="location.href='###'"
          />
        </div>

        <div class="member-data-container">
          <div class="user-data">
            帳號：
            <span><%= data.username %></span>
          </div>
          <div class="user-data name">
            姓名：
            <span class="origin"><%= data.name %></span>
          </div>
          <div class="user-data address">
            地址：
            <span class="origin"><%= data.address %></span>
          </div>
          <div class="user-data phone">
            電話：
            <span class="origin"><%= data.phone %></span>
          </div>
          <div class="user-data email">
            信箱：
            <span class="origin"><%= data.email %></span>
          </div>
          <div class="user-data auth">
            會員等級：
            <span class="origin"
              ><%= data.user_auth >= 0 ? "一般會員" : "停權會員"%></span
            >
            <!-- TODO: -->
            <select class="alt hide alt__text">
              <option selected>一般會員</option>
              <option>停權會員</option>
              <option>vip會員</option>
            </select>
          </div>

          <div class="btn__area">
            <div class="handle__update-btn origin">
              <input class="btn update-btn" type="button" value="編輯" />
            </div>

            <div class="handle__store-btn alt hide">
              <input class="btn store-btn" type="button" value="儲存" />
              <input class="btn cancel-btn" type="button" value="取消" />
            </div>
          </div>
        </div>

        <div class="order-data-container">
          <table>
            <thead>
              <tr>
                <th>訂單編號</th>
                <th>訂單日期</th>
                <th>金額</th>
                <th>狀態</th>
                <th>管理</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
    </div>

    <%- include('../../template/footer') %>
    <script src="/js/users/memberDetail.js"></script>
  </body>
</html>
