<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../template/header', { title: 'JAB餐廳 - 訂單明細' }) %>
  </head>

  <body>
    <%- include('../template/navbar') %>

    <div class="wrapper admin__wrapper">
      <div class="title faq">
        <span class="title__mark admin"></span
        ><span class="title__text admin">訂單明細</span>
      </div>

      <div class="order-detail data-container">
        <!-- TODO: 這邊之後應該要變成會傳資料進來這個頁面，資料還要用來判斷是否要呈現 btn__area -->
        <div class="title">
          <div class="heading-info">
            <div>訂單日期：<%= orderData.createdAt %></div>
            <div>訂單編號：<%= orderData.num %></div>
            <div class="order-state">訂單狀態：<%= orderData.state %></div>
          </div>
          <% if (isAdmin) { %>
          <div class="btn__area">
            <div class="handle__update-btn origin">
              <input class="btn update-btn" type="button" value="待領取" />
              <input class="btn cancel-btn" type="button" value="取消訂單" />
            </div>

            <div class="handle__update-btn origin hide">
              <input class="btn update-btn" type="button" value="已完成" />
              <input class="btn cancel-btn" type="button" value="取消訂單" />
            </div>
          </div>
          <% } %>
        </div>
        <div class="content">
          <table>
            <thead>
              <tr>
                <th>商品照片</th>
                <th>商品名稱</th>
                <th>價格</th>
                <th>數量</th>
                <th>小計</th>
              </tr>
            </thead>
            <tbody>
              <% for (const item of orderData.item) { %>
              <td class="image">
                <img class="image" src="<%= item.image %>" />
              </td>
              <td class="dishname"><%= item.dishname %></td>
              <td class="price"><%= item.price %></td>
              <td class="count"><%= item.count %></td>
              <td class="total-price"><%= item.totalPrice %></td>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>

      <div class="order-detail bill-container">
        <div class="title">帳單資訊</div>
        <div class="content">
          <div class="user-data name">
            姓名：<span><%= orderData.bill.name %></span>
          </div>
          <div class="user-data phone">
            電話：<span><%= orderData.bill.phone %></span>
          </div>
          <div class="user-data address">
            地址：<span><%= orderData.bill.address %></span>
          </div>
          <div class="user-data email">
            信箱：<span><%= orderData.bill.email %></span>
          </div>
        </div>
        <div class="btn__area">
          <% if (isAdmin) { %>
          <!-- 這邊的 href 之後可考慮改成 /admin/order-tab 之類的 -->
          <input
            class="redirect-btn"
            type="button"
            value="回訂單列表"
            onclick="location.href='/admin'"
          />
          <% } else { %>
          <!-- 這邊的 href 之後可考慮改成 /user/order-tab 之類的 -->
          <input
            class="redirect-btn"
            type="button"
            value="回我的訂單"
            onclick="location.href='/user'"
          />
          <% } %>
        </div>
      </div>
    </div>

    <%- include('../template/footer') %>
    <script src="/js/users/orderDetail.js"></script>
  </body>
</html>
