<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../template/header', { title: 'JAB餐廳 - 訂單明細' }) %>
  </head>

  <body>
    <%- include('../template/navbar') %>

    <div class="wrapper admin__wrapper">
      <div class="title faq">
        <span class="title__mark admin"></span
        ><span class="title__text admin">訂單明細</span>
      </div>

      <div class="order-detail data-container">
        <!-- TODO: 這邊之後要變成傳資料進來，資料還要用來判斷 btn__area 要呈現什麼按鈕 -->
        <div class="title">
          <div class="heading-info">
            <div>訂單日期：2022-08-05 14:23:51</div>
            <div>訂單編號：123321</div>
            <div class="order-state">訂單狀態：待處理</div>
          </div>
          <div class="btn__area">
            <div class="handle__update-btn origin">
              <input class="btn update-btn" type="button" value="待領取" />
              <input class="btn cancel-btn" type="button" value="取消訂單" />
            </div>

            <div class="handle__update-btn origin hide">
              <input class="btn update-btn" type="button" value="已完成" />
              <input class="btn cancel-btn" type="button" value="取消訂單" />
            </div>
          </div>
        </div>
        <div class="content">
          <table>
            <thead>
              <tr>
                <th>商品照片</th>
                <th>商品名稱</th>
                <th>價格</th>
                <th>數量</th>
                <th>小計</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>

      <div class="order-detail bill-container">
        <div class="title">帳單資訊</div>
        <div class="content">
          <div class="user-data name">
            姓名：<span class="origin"><%= data.name %></span>
          </div>
          <div class="user-data phone">
            電話：<span class="origin"><%= data.phone %></span>
          </div>
          <div class="user-data address">
            地址：<span class="origin"><%= data.address %></span>
          </div>
          <div class="user-data email">
            信箱：<span class="origin"><%= data.email %></span>
          </div>
        </div>
        <div class="btn__area">
          <input
            class="redirect-btn"
            type="button"
            value="回訂單列表"
            onclick="location.href='/admin/order-detail'"
          />
        </div>
      </div>
    </div>

    <%- include('../template/footer') %>
    <script src="/js/users/orderDetail.js"></script>
  </body>
</html>
